form {
	width: 400px;
	background-color: rgb(196, 210, 247);
	display: grid;
	grid-template-columns: repeat(2,1fr);
	padding: 10px;
	font-size: 18px;
	margin: 0 auto;
	margin-top: 50px;
	grid-row-gap: 10px;
}
a {
	grid-column: span 2;
	background-color: #ccc;
	padding: 5px;
	text-align: center;
	color: #000;
	text-decoration: none;
	border-radius: 5px;
}