body {
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
p {
	align-self: center;
	font-size: 50px;
	color: aliceblue;
	text-shadow: 1px 1px navy;
	text-align: center;
	font-family: sans-serif;
}