body {
	background-color: #fbf2e9;
	font-family: sans-serif;
}
table {
	margin: 20px auto;
	border: solid 2px #ccc;
	border-collapse: collapse;
	width: 360px;
}
th, td {
	border: solid 2px #ccc;
	height: 40px;
}
td {
	width: 120px;
	padding-left: 15px;
}