body {
    background-color: #fbf2e9;
	 font-family: sans-serif;
}
/* Task 1 */
/* .main {
	margin: 30px auto;
	border: solid 2px #ccc;
	border-radius: 5px;
	width: 75px;
	height: 40px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main div {
	display: flex;
	flex-direction: column;
	border-left: solid 2px #ccc;
}

p {
	font-size: 30px;
	font-family: sans-serif;
	margin: 10px;
}

button {
	width: 20px;
	height: 20px;
	padding: 0;
	text-align: center;
	border: none;
	background-color: transparent;
}
button:first-of-type{
	border-bottom: #ccc solid 2px;
}

.arrow {
	font-size: 15px;
	font-weight: bold;
} */

/* Task 2 */
/* section {
	width: 500px;
	margin: 0 auto;
	min-height: 150px;
	position: relative;
}
button {
	width: 90%;
	cursor: pointer;
	position: absolute;
	margin: 0 5%;
	bottom: 0;
}
.block {
	width: 60px;
	height: 40px;
	cursor: pointer;
	margin: 5px;
	display: inline-block;
}
.close-block {
	display: none;
} */

/* Task 3 */
/* .colors {
	box-sizing: border-box;
	width: 250px;
	height: 60px;
	border: solid 1px #ccc;
	display: grid;
	justify-items: center;
	align-content: center;
	grid-template-columns: repeat(9,1fr);
	grid-row-gap: 3px;
}
.colors div {
	width: 25px;
	height: 25px;
	border: solid 1px #ccc;
	cursor: pointer;
}
p {
	font-family: sans-serif;
}
div[data-color="black"] {
	background-color: black;
}
div[data-color="#8a8a8a"] {
	background-color: #8a8a8a;
}
div[data-color="#92001c"] {
	background-color: #92001c;
}
div[data-color="red"] {
	background-color: red;
}
div[data-color="yellow"] {
	background-color: yellow;
}
div[data-color="green"] {
	background-color: green;
}
div[data-color="#00aaea"] {
	background-color: #00aaea;
}
div[data-color="#4a53d1"] {
	background-color: #4a53d1;
}
div[data-color="#ab54ac"] {
	background-color: #ab54ac;
}
div[data-color="#fff"] {
	background-color: #fff;
}
div[data-color="#d7d7d7"] {
	background-color: #d7d7d7;
}
div[data-color="#c08462"] {
	background-color: #c08462;
}
div[data-color="#ffc6d0"] {
	background-color: #ffc6d0;
}
div[data-color="#f1e7b7"] {
	background-color: #f1e7b7;
}
div[data-color="#bce925"] {
	background-color: #bce925;
}
div[data-color="#a2ddec"] {
	background-color: #a2ddec;
}
div[data-color="#7b9bc4"] {
	background-color: #7b9bc4;
}
div[data-color="#cdc5ea"] {
	background-color: #cdc5ea;
} */

/* Task 4 */
/* h2 {
	font-size: 20px;
}
h3 {
	font-size: 16px;
}
label {
	display: inline-block;
	margin-bottom: 10px;
}
input {
	width: 300px;
}
textarea {
	width: 100%;
	min-height: 100px;
}
button {
	width: 100%;
	margin-top: 15px;
} */

/* Task 5 */
/* input {
	width: 250px;
	height: 30px;
	box-sizing: border-box;
}
.countries {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.countries li {
	box-sizing: border-box;
	cursor: pointer;
	height: 30px;
	width: 250px;
	background-color: #f6f6f6;
	border: 1px solid grey;
	border-radius: 2px;
	padding: 2px;
} */

/* Task 6 */
/* .calculate {
   width: 250px;
   margin: 50px auto;
   padding: 10px;
   background-color: bisque;
}
.calculate p {
   padding: 5px;
   font-size: 24px;
   background-color: #fff;
   text-align: right;
   margin: 0;
   margin-bottom: 20px;
}
.calculate .board {
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-auto-rows: minmax(50px,auto);
}
.calculate .board .res {
	grid-column: span 2;
} */