body {
   background-color: #fbf2e9;
	font-family: sans-serif;
}
hr {
	margin: 20px 0;
}
article {
	text-align: justify;
	margin: 0 10% 0 5%;
	width: 85%;
}
.arrow {
	transform: scale(0);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	background-color: #fda983;
	width: 50px;
	height: 60px;
	border: solid 1px #000;
	position: fixed;
	right: 30px;
	bottom: 20px;
	cursor: pointer;
	transition: 300ms;
}