body {
	background-color: #fbf2e9;
	font-family: sans-serif;
}
.calculate {
  width: 200px;
  margin: 50px auto;
  padding: 10px;
  background-color: bisque;
}
.calculate p {
  padding: 10px;
  font-size: 24px;
  background-color: #fff;
  text-align: right;
  margin: 0;
  margin-bottom: 20px;
}
.calculate .board {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(50px,auto);
}
.calculate .board .res {
  grid-column: span 2;
}