body {
	background-color: #fbf2e9;
	font-family: sans-serif;
}

.container {
	margin: 0 auto;
	width: 500px;
	display: flex;
	justify-content: center;
}
h2 {
	font-size: 18px;
	text-align: center;
}
label {
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	margin-bottom: -15px;
}
input {
	width: 350px;
	box-sizing: border-box;
	height: 30px;
	margin-bottom: 15px;
}
a {
	text-decoration: none;
	display: inline-block;
	box-sizing: border-box;
	width: 350px;
	padding: 8px;
	background-color: #e1e1e1;
	text-align: center;
	border: 1px solid gray;
	border-radius: 3px;
	color: #000;
}
span {
	color: #750020;
}
input:focus-visible {
	outline: none;
}

.none {
	display: none;
}