body {
	background-color: #fbf2e9;
	font-family: sans-serif;
}

.container {
	margin: 0 auto;
	width: 500px;
	display: flex;
	justify-content: center;
}
h2 {
	font-size: 18px;
	text-align: center;
}
label {
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	margin-bottom: -15px;
}
input {
	width: 350px;
	box-sizing: border-box;
	height: 30px;
	margin-bottom: 15px;
}
button {
	width: 350px;
	height: 30px;
}
span {
	color: #750020;
}
input:focus-visible {
	outline: none;
}

.none {
	display: none;
}
.error {
   border: solid 2px red;
   box-shadow: inset 1px 1px 2px red, inset -1px -1px 2px red;
   border-radius: 3px;
}