body {
	font-family: sans-serif;
	background-color: #fbf2e9;
}
.container {
	width: 785px;
	margin: 0 auto;
}
h1, h2 {
	font-size: 22px;
}
label{
	display: inline-block;
	width: 180px;
	font-size: 20px;
}
input{
	margin-bottom: 15px;
	height: 25px;
	width: 600px;
	box-sizing: border-box;
}
button{
	width: 785px;
	height: 25px;
}
p {
	font-size: 18px;
}